{% extends 'layout.html' %}

{% block title %}Apartment Search Results{% endblock %}

{% block page %}Search Results{% endblock %}

{% block content %}

    {% if apartments %}
        {% for apart in apartments %}
            <div class="card col m4">
                <div class="card-content">
                    <div class="apartment">
                        <p>Apartment No. {{ apart.id }}</p>
                        <img src="{{ apart.image }}" alt="Apartment Image">
                        <p class="location"><b>{{ apart.street }}, {{ apart.town }}</b></p>
                    </div>
                    <!-- Bathrooms and Bedrooms aligned with icons -->
                    <div class="features">
                        <div class="feature">
                             <i class="fa fa-bath"></i> <!-- Bathroom icon -->
                            <span>{{ apart.bathrooms }}</span>
                        </div>
                        <div class="feature">
                            <i class="fa fa-bed"></i> <!-- Bedroom icon -->
                            <span>{{ apart.bedrooms }}</span>
                        </div>
                    </div>

                    <p>Rent: ${{ apart.rent }}0</p>
                </div>
                <div class="card-action">
                    <a class="red btn" href="/apartments/{{ apart.id }}">VIEW</a>
                </div>
            </div>
        {%  endfor %}
    {% else %}
        <p>No apartments found matching your criteria.</p>
    {% endif %}
{% endblock %}
